{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <!-- {% image page.banner_image fill-800x600 %}
    {{ page.body|richtext }} -->
    <!-- {{ page.body|richtext }} -->
    <a href="/about">走进金控</a>
    {% include "timeline.html" %}
    <!-- <p>You can access the admin interface <a href="{% url 'wagtailadmin_home' %}">here</a> (make sure you have run "./manage.py createsuperuser" in the console first).</p> -->
{% endblock %}
