{% extends "base.html" %} 
{% load wagtailcore_tags %} 
{% load static %} 
{% load wagtailcore_tags wagtailimages_tags %} 
{%block body_class %}template-homepage{% endblock %} 
{% block content %} 
{% include 'topnav3.html' %}

<!-- Intro Header -->


<div id="fullpage">
    <div class="section">
        {% include 'topbanner_section.html' %}
    </div>
    <div class="section milestone">
        {% include 'milestone_section.html' %}
    </div>
    <div class="section newscenter">
        {% include 'newscenter_section2.html' %}
    </div>
    <div class="section business">
        {% include 'business_section1.html' %}
    </div>
    <div class="section fp-auto-height">
        {% include 'footer_section.html' %}
    </div>
</div>
{% endblock %}