{% extends "base.html" %} 
{% load wagtailcore_tags %} 
{% load static %} 
{% load wagtailcore_tags wagtailimages_tags %} 
{%block body_class %}template-homepage{% endblock %} 
{% block content %} 
{% include 'topnav3.html' %}

<!-- Intro Header -->


<div id="fullpage">
    <div class="section">
        {% include 'topbanner_section.html' %}
        <div class="notification">
            <div class="notify-icon">
                    <img src="{% static 'images/notification.png' %}" alt="">
                </div>
                <div class="notify-title">
                    通知公告：
                </div>
                <div class="notify-content">
                    <div class="txtScroll-top">
                            <div class="bd">
                                <div class="tempWrap" style="overflow:hidden; position:relative; height:24px"><ul class="infoList" style="top: -38.3531px; position: relative; padding: 0px; margin: 0px;">
                                    <li style="height: 24px;"><span class="date">2018/04/10</span><a href="#" target="_blank">暂无相关信息</a></li>
                                    <!-- <li style="height: 24px;"><span class="date">2011/03/21</span><a href="http://www.SuperSlide2.com" target="_blank">口语：会说中文就能说英语！</a></li>
                                    <li style="height: 24px;"><span class="date">2011/03/21</span><a href="http://www.SuperSlide2.com" target="_blank">农场摘菜不如在线学外语好玩中国打破了世界软件巨头规则中国打破了世界软件巨头规则</a></li>
                                    <li style="height: 24px;"><span class="date">2011/12/21</span><a href="http://www.SuperSlide2.com" target="_blank">数理化老师竟也看学习资料？</a></li>
                                    <li style="height: 24px;"><span class="date">2011/03/21</span><a href="http://www.SuperSlide2.com" target="_blank">学英语送ipad2,45天突破听说</a></li>
                                    <li style="height: 24px;"><span class="date">2011/12/21</span><a href="http://www.SuperSlide2.com" target="_blank">学外语，上北外！</a></li>
                                    <li style="height: 24px;"><span class="date">2011/12/21</span><a href="http://www.SuperSlide2.com" target="_blank">那些无法理解的荒唐事</a></li> -->
                                </ul></div>
                            </div>
                        </div>
                </div>
                <div class="notify-title">
                        <a href="/news/bulletin">更多</a> 
                </div>
        </div>
    </div>
    <section class="fund">
        {% include 'fund_section.html' %}
    </section>
    <div class="section newscenter">
        {% include 'newscenter_section2.html' %}
    </div>
    <div class="section business">
        {% include 'business_section1.html' %}
    </div>
    <div class="section fp-auto-height">
        {% include 'footer_section.html' %}
    </div>
</div>
{% endblock %}