html {
  font-family: 微软雅黑;
  font-size: 16px;
}
body {
  font-family: 微软雅黑;
  font-size: 16px;
}

nav {
  border-bottom: 1px solid rgba(90, 69, 69, 0.3);
}
.navbar-light .navbar-nav .nav-link {
  color: #000000;
}
.nav-link {
  font-family: 微软雅黑;
  color: #000000;
  font-weight: 500;
  font-size: larger;
  white-space: nowrap;
}


nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}


nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #1E2F6D;
  height: 2px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

#carouselExampleIndicators {
  margin-top: 10px;
}

.carousel-caption {
  bottom: 55%;
}

.carousel-caption h1 {
  color: #0d2663;
  font-size: 4em;
  letter-spacing: 4px;
}

.carousel-caption h3 {
  color: #0d2663;
  font-size: 2em;
  letter-spacing: 12px;
  line-height: 2;
}


.carousel-caption p {
  color: #0d2663;
  font-size: 2em;
  line-height: 2;
  letter-spacing: 6px;
}

.milestone {
  /* background: url('../images/milestonebg.png') no-repeat center center; */
  background: linear-gradient(to right, rgb(69, 104, 220), rgb(176, 106, 179));
  background-size: cover;
}

.newscenter {  
  background: url('../images/newsbg.png') no-repeat center center;
  background-size: cover;
}

.newsboard {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.news-category {
  display: flex;
  justify-content: center;
  padding: 10px 10px 0 0;
}

/* business */

.business {
  background: url('../images/businessbg.png') no-repeat center center;
  background-size: cover;
}

.business-wrapper {
  display: flex;
  flex-direction: row;
}

.well {
  text-align: center;
}

.well h4 {
  letter-spacing: 2px;
}

.well .row {
  display: flex;
  flex-direction: row;
}

hr {
  height:2px;
  border:none;
  border-top:1px solid #121829;
  
}

/* Ming Effect */

.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}


figure.effect-ming {
	background: #030c17;
}

figure.effect-ming img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-ming figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 2px solid #fff;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.4,1.4,1);
	transform: scale3d(1.4,1.4,1);
}

figure.effect-ming h2 {
	margin: 20% 0 10px 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-ming p {
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.effect-ming:hover h2 {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

figure.effect-ming:hover figcaption::before,
figure.effect-ming:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-ming:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.effect-ming:hover img {
	opacity: 0.4;
}


/* footer */
.footerhr {
	border-top: 1px dashed #8c8b8b;
}

.link {
  padding: 20px 20px 0 0; 
}

.misc {
  display: flex;
  justify-content: space-around;
  align-items: center;
}