/* 资讯中心 */

.main {
    margin-top: 66px;
}

.topbanner {
    padding: 0;
}

.banner-img {
    height: auto;
    width: 100%;
}

.news-container {
    margin-top: 20px;
    min-height: 480px;
}

.col-3 {
    text-align: center;
}

.tab-pane ul li {
    border-bottom: 1px solid lightgrey;
    padding: 4px;
}

.tab-title {
    padding-top: 20px;
    padding-bottom: 20px;
}


@media (min-width: 720px) {
    #sideNavToggle {
        display: none;
    }

    .list-title {
        align-items: center;
    }

    .path-wrapper {
        display: flex;
        justify-content: flex-end;
    }   
}

@media (max-width: 720px) {

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 10px;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    
    .sidenav a:hover {
        color: #f1f1f1;
    }
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .tab-title {
        display: none;
    }

    .text-left {
        display: none;
    }

    .list-title {
        display: none;
    }

    .path-wrapper {
        display: none;
    }

    .tab-pane ul {
        padding: 0;
    }

    .news-thumbnail img {
        width: 100%;
    }

    .rich-text img {
        width: 50%;
        height: 50%;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #3c558c;    
}

.nav-left::before {
    display: inline-block;
    content: '';
    vertical-align: middle;
    -webkit-border-radius: 0.375rem;
    border-radius: 0.5;
    height: 0.3rem;
    width: 0.3rem;
    margin-right: 0.6rem;
    background-color: #000000;

}

.nav-left::after {
    display: inline-block;
    content: '';
    vertical-align: middle;
    -webkit-border-radius: 0.375rem;
    border-radius: 0.5;
    height: 0.3rem;
    width: 0.3rem;
    margin-left: 0.6rem;
    background-color: #000000;

}

.current-path {
    display: flex;
    align-items: center;
}

.list-title nav {
    border: none;
}

nav ol {
    margin: 10px;
}

.category-row {
    display: table;
    width: 100%;
    justify-content: space-around;
}

.page-nav-wrapper {
    justify-content: center;
}

.page-nav {
    border: none;
}

/* news content style */


.title-wrapper {
    justify-content: center;
}

.rich-text p {
    text-indent: 2em;
    line-height: 2em;
    font-size: 16px;
}

.news-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row .news-title {
    padding-top: 4px;
    padding-bottom: 4px;
}

.business-domain {
    display: inline-table;
    width: 33%;
    text-align: center;
    margin-top: 20px;
}

.business-domain img:hover {
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}

.busi-name {
    margin-top: 20px;
}

.busi-desc {
    text-align: left;
}

.category-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category {
    background: #3c558c;
    color: #ffffff;
    padding: 4px 10px;
    font-size: large;
}

.companies-wrapper {
    margin-top: 20px;
    width: 100%;
}

.companies {
    display: table;
    width: 100%;
}

.tab-pane .container ul li {
    border: none;
}

.company-name {
    display: inline-table;
    width: 50%;
}

.meta {
    text-align: center;
}

.back2news-list {
    text-align: right;
}

.video-container {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.video-wrapper {
    margin: 0px 10px;
}

.video {
    width: 260px;
}

.footer {
    /* position: relative; */
    position: relative;
    /* background: #cbcfe0; */
}