{% extends "base.html" %} 
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load bleach_tags %}
{% load static %} 
{% block body_class %}template-blogindexpage {% endblock%}
{% block content %} 
<link rel="stylesheet" href="{% static 'css/secondarypage.css' %}">
{% include 'topnav3.html' %}
<div class="main">
    <div class="container-fluid topbanner">
        <div class="banner">
            <img class="banner-img" src="{% static 'images/businessbanner.jpg' %}" alt="news">
        </div>

    </div>
    <div class="container news-container">
        <div class="row">
            <div class="col-3">
                <div class="tab-title"><h4><strong>集团业务</strong></h4></div>
                <!-- <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    {% for column in self.get_children %}
                        <a class="nav-link nav-left" id="v-pills-home-tab"  href="{% pageurl column %}" role="tab" aria-controls="v-pills-home"
                    aria-selected="true">{{ column }}</a>
                    {% endfor %}
                </div> -->
                <div class="nav flex-column nav-pills" id="pills-tab" role="tablist" aria-orientation="vertical">
                        
                    {% for column in column_entries %}
                        {% if forloop.first %}
                            <a class="nav-link nav-left active" id="v-pills-home-tab" data-toggle="pill" href="#{{ column.slug }}" role="tab" aria-controls="v-pills-home" aria-selected="true">{{ column }}</a>
                        {% else %}
                            <a class="nav-link nav-left" id="v-pills-{{ column.slug }}-tab" data-toggle="pill" href="#{{ column.slug }}" role="tab" aria-controls="v-pills-home" aria-selected="true">{{ column }}</a>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
            <div class="col-9">
                <div class="row list-title">
                        <div class="col-3 text-left" id="column-title"><h5>业务领域</h5></div>
                        <div class="col-9 path-wrapper">
                                <nav aria-label="breadcrumb" class="current-path">
                                    <div><h5>当前位置</h5></div>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">首页</a></li>
                                        <li class="breadcrumb-item active" id="current_column" aria-current="page" data-column-slug="{{ self.slug }}">{{ self }}</li>
                                    </ol>
                                </nav>
                        </div>
                    </div>
                    <hr>
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="domain" role="tabpanel" aria-labelledby="v-pills-home-tab">
                       <div class="row category-row">
                           <div class="col-3">
                                <img class="" src="{% static 'images/securities.png' %}" alt="securities">
                                <div class="business-domain">
                                    <h5><strong>证券</strong></h5>
                                    <h6 class="busi-desc">证券业务包括证券经纪业务，证券投资咨询业务，与证券……</h6>
                                </div>
                           </div>
                           <div class="col-3">
                                <img class="" src="{% static 'images/futures.png' %}" alt="futures">
                                <div class="business-domain">
                                    <h5><strong>期货</strong></h5>
                                    <h6 class="busi-desc">期货业务包括商品期货经纪、金融期货经纪、期货投资……</h6>
                                </div>
                           </div>
                           <div class="col-3">
                                <img class="" src="{% static 'images/fund.png' %}" alt="futures">
                                <div class="business-domain">
                                    <h5><strong>基金</strong></h5>
                                    <h6 class="busi-desc">通过发行基金单位，集中投资者的资金，由基金托管人（即……</h6>
                                </div>
                           </div>
                       </div>
                       <div class="row category-row">
                           <div class="col-3">
                                <img class="" src="{% static 'images/insurance.png' %}" alt="futures">
                                <div class="business-domain">
                                    <h5><strong>保险（筹）</strong></h5>
                                    <h6 class="busi-desc">保险业务正在筹建中……</h6>
                                </div>
                           </div>
                       </div>
                    </div>
                    <div class="tab-pane fade" id="investment" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div class="container">
                            <div class="category-wrapper">
                                <div class="category">全资企业</div>
                                <div class="companies-wrapper">
                                    <ul class="companies">
                                        {% for column in column_entries %}
                                            {% for company in column.get_children.specific %}
                                               {% if company.enterprise_catrgory == "全资企业" %}
                                                    <li class="company-name">
                                                        <h5>
                                                            <a href="" data-toggle="modal" data-target="#{{ enterprise_name }}">{{company.enterprise_name }}</a>
                                                        </h5>
                                                            <!-- Modal -->
                                                            <div class="modal fade" id="{{ enterprise_name }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLongTitle">{{ company.enterprise_name }}</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        {{ company.enterprise_intro }}
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                                                    </div>
                                                                </div>
                                                                </div>
                                                            </div>
                                                    </li>
                                               {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="category-wrapper">
                                    <div class="category">控股企业</div>
                                <div class="companies-wrapper">
                                    <ul class="companies">
                                            {% for column in column_entries %}
                                            {% for company in column.get_children.specific %}
                                               {% if company.enterprise_category == "控股企业" %}
                                                    <li class="company-name">
                                                        <h5>
                                                            <a href="" data-toggle="modal" data-target="#{{ company.enterprise_name }}">{{company.enterprise_name }}</a>
                                                        </h5>
                                                            
                                                            <!-- Modal -->
                                                            <div class="modal fade" id="{{ company.enterprise_name }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLongTitle">{{ company.enterprise_name }}</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        {{ company.enterprise_intro }}
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                                                    </div>
                                                                </div>
                                                                </div>
                                                            </div>
                                                    </li>
                                               {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                               </div>
                               <div class="category-wrapper">
                                    <div class="category">参股企业</div>
                                    <div class="companies-wrapper">
                                        <ul class="companies">
                                                {% for column in column_entries %}
                                                {% for company in column.get_children.specific %}
                                                   {% if company.enterprise_category == "参股企业" %}
                                                        <li class="company-name">
                                                            <h5>
                                                                <a href="" data-toggle="modal" data-target="#{{ company.enterprise_name }}">{{company.enterprise_name }}</a>
                                                            </h5>
                                                                <!-- Modal -->
                                                                <div class="modal fade" id="{{ company.enterprise_name }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLongTitle">{{ company.enterprise_name }}</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            {{ company.enterprise_intro | richtext }}
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                        </li>
                                                   {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer_section.html' %} {% endblock %}