{% extends "base.html" %} 
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load bleach_tags %}
{% load static %}
{% block body_class %}template-blogindexpage {% endblock%}
{% block content %} 
<link rel="stylesheet" href="{% static 'css/secondarypage.css' %}">
{% include 'topnav3.html' %}
<div class="main">
    <div class="container-fluid topbanner">
        <div class="banner">
            <img class="banner-img" src="{% static 'images/culturebanner.jpg' %}" alt="news">
        </div>

    </div>
    <div class="container news-container">
        <div class="row">
            <div class="col-3">
                <div class="tab-title"><h4><strong>联系我们</strong></h4></div>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    {% for column in self.get_children %}
                        <a class="nav-link nav-left" id="v-pills-home-tab"  href="{% pageurl column %}" role="tab" aria-controls="v-pills-home"
                aria-selected="true">{{ column }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-9">
                <div class="row list-title">
                        <div class="col-3 text-left" id="column-title"><h5>招聘信息</h5></div>
                        <div class="col-9 path-wrapper">
                                <nav aria-label="breadcrumb" class="current-path">
                                    <div><h5>当前位置</h5></div>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">首页</a></li>
                                        <li class="breadcrumb-item active" id="current_column" aria-current="page" data-column-slug="{{ self.slug }}">{{ self }}</li>
                                    </ol>
                                </nav>
                        </div>
                    </div>
                    <hr>
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <ul>
                            {% for column in self.get_children.specific %}
                                {% if column.slug == 'recruitment' %}
                                {% for page in column.get_children.specific %}
                                <li>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="news-title">
                                                <h5>
                                                    <strong>
                                                        <a href="{% pageurl page %}">{{ page.title }}</a>
                                                    </strong>
                                                </h5>
                                        </div>
                                        <div class="col-3 news-date text-right"><strong>{{ page.date | date:"Y-m-d" }}</strong></div>
                                        </div>
                                    </div>                               
                                </li>
                                {% endfor %}
                                {% endif %}
                            {% endfor %}
                            </ul>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <ul>
                                    {% for column in self.get_children.specific %}
                                        {% if column.slug == 'hr' %}
                                        {% for page in column.get_children.specific %}
                                        <li>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="news-title">
                                                        <h5>
                                                            <strong>
                                                                <a href="{% pageurl page %}">{{ page.title }}</a>
                                                            </strong>
                                                        </h5>
                                                </div>
                                                <div class="col-3 news-date text-right"><strong>{{ page.date | date:"Y-m-d" }}</strong></div>
                                                </div>
                                            </div>                               
                                        </li>
                                        {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <ul>
                                    {% for column in self.get_children.specific %}
                                        {% if column.slug == 'advice' %}
                                        {% for page in column.get_children.specific %}
                                        <li>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="news-title">
                                                        <h5>
                                                            <strong>
                                                                <a href="{% pageurl page %}">{{ page.title }}</a>
                                                            </strong>
                                                        </h5>
                                                </div>
                                                <div class="col-3 news-date text-right"><strong>{{ page.date | date:"Y-m-d" }}</strong></div>
                                                </div>
                                            </div>                               
                                        </li>
                                        {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <ul>
                                    {% for column in self.get_children.specific %}
                                        {% if column.slug == 'contact' %}
                                        {% for page in column.get_children.specific %}
                                        <li>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="news-title">
                                                        <h5>
                                                            <strong>
                                                                <a href="{% pageurl page %}">{{ page.title }}</a>
                                                            </strong>
                                                        </h5>
                                                </div>
                                                <div class="col-3 news-date text-right"><strong>{{ page.date | date:"Y-m-d" }}</strong></div>
                                                </div>
                                            </div>                               
                                        </li>
                                        {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer_section.html' %} {% endblock %}