{% extends "base.html" %} 
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load bleach_tags %}
{% load static %}
{% block body_class %}template-blogindexpage {% endblock%}
{% block content %} 
<link rel="stylesheet" href="{% static 'css/secondarypage.css' %}">
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Dwj0vqyhFALfOozZkVZZa75S8FzsfuQq	"></script>
{% include 'topnav3.html' %}
<div class="main">
    <div class="container-fluid topbanner">
        <div class="banner">
            <img class="banner-img" src="{% static 'images/contactbanner.jpg' %}" alt="news">
        </div>

    </div>
    <div class="container news-container">
        <div class="row">
            <div class="col-3">
                <div class="tab-title"><h4><strong>联系我们</strong></h4></div>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    {% for column in self.get_children %}
                        <a class="nav-link nav-left" id="v-pills-home-tab"  href="{% pageurl column %}" role="tab" aria-controls="v-pills-home"
                aria-selected="true">{{ column }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-9">
                <div class="row list-title">
                        <div class="col-3 text-left" id="column-title"><h5>联系我们</h5></div>
                        <div class="col-9 path-wrapper">
                                <nav aria-label="breadcrumb" class="current-path">
                                    <div><h5>当前位置</h5></div>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">首页</a></li>
                                        <li class="breadcrumb-item"><a href="{{ self.url }}">{{ self }}</a></li>
                                        <li class="breadcrumb-item active" id="current_column" aria-current="page" data-column-slug="{{ self.slug }}">招聘信息</li>
                                    </ol>
                                </nav>
                        </div>
                    </div>
                    <hr>
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <ul>
                            {% for column in self.get_children.specific %}
                                {% if column.slug == 'recruitment' %}
                                {% for page in column.get_children.specific %}
                                <li>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="news-title">
                                                <h5>
                                                    <strong>
                                                        <a href="{% pageurl page %}">{{ page.title }}</a>
                                                    </strong>
                                                </h5>
                                        </div>
                                        <div class="col-3 news-date text-right"><strong>{{ page.date | date:"Y-m-d" }}</strong></div>
                                        </div>
                                    </div>                               
                                </li>
                                {% endfor %}
                                {% endif %}
                            {% endfor %}
                            </ul>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <ul>
                                    {% for column in self.get_children.specific %}
                                        {% if column.slug == 'hr' %}
                                        {% for page in column.get_children.specific %}
                                        <li>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="news-title">
                                                        <h5>
                                                            <strong>
                                                                <a href="{% pageurl page %}">{{ page.title }}</a>
                                                            </strong>
                                                        </h5>
                                                </div>
                                                <div class="col-3 news-date text-right"><strong>{{ page.date | date:"Y-m-d" }}</strong></div>
                                                </div>
                                            </div>                               
                                        </li>
                                        {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <ul>
                                    {% for column in self.get_children.specific %}
                                        {% if column.slug == 'advice' %}
                                        {% for page in column.get_children.specific %}
                                        <li>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="news-title">
                                                        <h5>
                                                            <strong>
                                                                <a href="{% pageurl page %}">{{ page.title }}</a>
                                                            </strong>
                                                        </h5>
                                                </div>
                                                <div class="col-3 news-date text-right"><strong>{{ page.date | date:"Y-m-d" }}</strong></div>
                                                </div>
                                            </div>                               
                                        </li>
                                        {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <ul>
                                    {% for column in self.get_children.specific %}
                                        {% if column.slug == 'contact' %}
                                        <div style="width:700px;height:550px;border:#ccc solid 1px;font-size:12px" id="map"></div>
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer_section.html' %} {% endblock %}
  <script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
      createMap();//创建地图
      setMapEvent();//设置地图事件
      addMapControl();//向地图添加控件
      addMapOverlay();//向地图添加覆盖物
    }
    function createMap(){ 
      map = new BMap.Map("map"); 
      map.centerAndZoom(new BMap.Point(103.858517,36.057313),18);
    }
    function setMapEvent(){
      map.enableScrollWheelZoom();
      map.enableKeyboard();
      map.enableDragging();
      map.enableDoubleClickZoom()
    }
    function addClickHandler(target,window){
      target.addEventListener("click",function(){
        target.openInfoWindow(window);
      });
    }
    function addMapOverlay(){
      var markers = [
        {content:"单位地址：甘肃省兰州市城关区东岗西路638号 <br>联系电话：0931-8581204<br>传真：0931-8581204<br>邮编：730000",title:"甘肃金融控股集团有限公司",imageOffset: {width:-23,height:-21},position:{lat:36.057532,lng:103.858283}}
      ];
      for(var index = 0; index < markers.length; index++ ){
        var point = new BMap.Point(markers[index].position.lng,markers[index].position.lat);
        var marker = new BMap.Marker(point,{icon:new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png",new BMap.Size(20,25),{
          imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
        })});
        var label = new BMap.Label(markers[index].title,{offset: new BMap.Size(25,5)});
        var opts = {
          width: 200,
          title: markers[index].title,
          enableMessage: false
        };
        var infoWindow = new BMap.InfoWindow(markers[index].content,opts);
        marker.setLabel(label);
        addClickHandler(marker,infoWindow);
        map.addOverlay(marker);
      };
    }
    //向地图添加控件
    function addMapControl(){
      var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
      scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
      map.addControl(scaleControl);
      var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
      map.addControl(navControl);
      var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:true});
      map.addControl(overviewControl);
    }
    var map;
      initMap();
  </script>