{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load static %} 
{% block content %}
<link rel="stylesheet" href="{% static 'css/secondarypage.css' %}">
{% include 'topnav3.html' %}
<div class="main">
    <div class="container-fluid topbanner">
        <div class="banner">
                <img class="banner-img" src="{% static 'images/partybanner.jpg' %}" alt="news">
        </div>
    </div>
    <h1>{{ page.title }}</h1>
    {{ page.intro|richtext }}
    <form action="{% pageurl page %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>
    {{ page.thank_you_text|richtext }}
</div>
{% include 'footer_section.html' %}
{% endblock %}