{% extends "base.html" %} 
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load bleach_tags %}
{% load static %}
{% block body_class %}template-blogindexpage {% endblock%}
{% block content %} 
<link rel="stylesheet" href="{% static 'css/secondarypage.css' %}">
{% include 'topnav3.html' %}
<div class="main">
    <div class="container-fluid topbanner">
        <div class="banner">
            <img class="banner-img" src="{% static 'images/fundbanner.png' %}" alt="news">
        </div>
    </div>
    <div class="container news-container">
        <div class="row">
            <div class="col-3 column-nav">
                <div class="tab-title"><h4><strong>{{ page.get_parent }}</strong></h4></div>
                <div class="nav flex-column nav-pills sidenav" id="colSideNav" role="tablist" aria-orientation="vertical">
                    {% for column in self.get_parent.get_children %}
                        <a class="nav-link nav-left" id="v-pills-home-tab"  href="{% pageurl column %}" role="tab" aria-controls="v-pills-home"
                    aria-selected="true">{{ column }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-9" id="newsList">
                <div class="row list-title">
                        <div class="col-3 text-left" id="column-title"><h5></h5></div>
                        <div class="col-9 path-wrapper">
                                <nav aria-label="breadcrumb" class="current-path">
                                    <div><h5>当前位置</h5></div>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">首页</a></li>
                                        <li class="breadcrumb-item"><a href="{{ self.get_parent.url }}">{{ self.get_parent }}</a></li>
                                        <li class="breadcrumb-item active" id="current_column" aria-current="page" data-column-slug="{{ self.slug }}">{{ self }}</li> 
                                    </ol>
                                </nav>
                        </div>
                    </div>
                    <span id="sideNavToggle" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
                    <hr>
                <div class="tab-content" id="v-pills-tabContent">
                    <div>
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">         
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">         
                            {% for fund in fund_column_entries %}
                            <div class="idfund">
                                <div class="row idfund-title">
                                    <h4>{{ fund.specific.fund_name }}</h4>
                                </div>
                                <div class="row idfund-intro">
                                    <div class="intro-text">
                                        {{ fund.specific.fund_intro | richtext }}
                                    </div>
                                    <!-- <div class="idfund-img">
                                        {% image fund.specific.fund_intro_image fill-320x200 class="img-fluid" %}
                                    </div> -->
                                </div>
                            </div>
                            {% endfor %}
                            <div id="idfund-btn" class="btn" data-toggle="modal" data-target="#exampleModalCenter">
                                    <div>            
                                        <img class="" src="{% static 'images/demand-feedback.png' %}" alt="news">
                                    </div>
                                    <div>在线需求申报</div>
                            </div>
                            <div class="idfund-form">
                                      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalCenterTitle">在线需求申报</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                                
                                            <div class="idfund-dialog-form center-block">
                                                    <div class="idfund-form-title">
                                                        <h3>在线需求申报</h3>
                                                    </div>
    
                                                    <form id="idform" class="binder-form-submit">
                                                        {% csrf_token %}
                                                        {% for field in form %}
                                                        <div class="idfund-form-control clearfix">
                                                            <label class="pull-left">{{ field.label }}</label>
                                                            {{ field }}
                                                        </div>
                                                        {% endfor %}
                                                        <div class="idfund-btn-wrap">
                                                            <button class='captcha-refresh idfund-btn'>刷新</button>
                                                            <input class="idfund-btn idfund-commit" type="submit" value="提交" />
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="modal-footer idfund-echo">
                                                <div id="idfund-message"></div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="row page-nav-wrapper">
                    <nav class="page-nav" aria-label="Page navigation example">
                                {% if page_entries.has_other_pages %}
                                <ul class="pagination">
                                  {% if page_entries.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_entries.previous_page_number }}">&laquo;</a></li>
                                  {% else %}
                                    <li class="page-item disabled"><a class="page-link" href=""><span>&laquo;</span></a></li>
                                  {% endif %}
                                  {% for i in page_entries.paginator.page_range %}
                                    {% if page_entries.number == i %}
                                      <li class="page-item active"><a class="page-link" href=""><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
                                    {% else %}
                                      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                  {% endfor %}
                                  {% if page_entries.has_next %}
                                    <li  class="page-item"><a class="page-link" href="?page={{ page_entries.next_page_number }}">&raquo;</a></li>
                                  {% else %}
                                    <li class="page-item disabled"><a class="page-link" href=""><span>&raquo;</span></a></li>
                                  {% endif %}
                                </ul>
                              {% endif %}
                    </nav>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer_section.html' %} {% endblock %}
</div>
<!-- <script>
    $('.js-captcha-refresh').click(function(){
        $form = $(this).parents('form');
    
        $.getJSON($(this).data('url'), {}, function(json) {
            // This should update your captcha image src and captcha hidden input
        });
    
        return false;
    });
</script> -->