{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-newspage{% endblock %}

{% load static %} 
{% block content %} 
<link rel="stylesheet" href="{% static 'css/secondarypage.css' %}">
{% include 'topnav3.html' %}
<div class="main">
    <div class="container-fluid topbanner">
        <div class="banner">
            <img class="banner-img" src="{% static 'images/newsbanner.jpg' %}" alt="news">
        </div>

    </div>
    <div class="container news-container">
        <div class="row">
            <div class="col-3">
                <div class="tab-title"><h4><strong>资讯中心</strong></h4></div>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link nav-left active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
                        aria-selected="true">集团要闻</a>
                    <a class="nav-link nav-left" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                        aria-selected="false">企业动态</a>
                    <a class="nav-link nav-left" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
                        aria-selected="false">行业资讯</a>
                    <a class="nav-link nav-left" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">视频中心</a>
                    <a class="nav-link nav-left" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
                        aria-selected="false">通知公告</a>
                    <a class="nav-link nav-left" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">信息披露</a>
                </div>
            </div>
            <div class="col-9">
                <div class="row list-title">
                        <div class="col-3 text-left" id="column-title"><h5>集团要闻</h5></div>
                        <div class="col-9 path-wrapper">
                                <nav aria-label="breadcrumb" class="current-path">
                                    <div><h5>当前位置</h5></div>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">首页</a></li>
                                        <li class="breadcrumb-item"><a href="#">资讯中心</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">集团要闻</li>
                                    </ol>
                                </nav>
                        </div>
                    </div>
                    <hr>
                    <div class="container content-container">
                            <div class="row title-wrapper">
                                <h3>{{ page.title }}</h3>
                            </div>
                            <hr>
                            <p class="meta">发布时间：{{ page.date | date:"Y-m-d" }}</p>
                            <hr>
                        
                            {% comment %} <div class="intro">{{ page.intro }}</div> {% endcomment %}
                        
                            {{ page.body | richtext }}
                        
                            <p><a href="{{ page.get_parent.url }}">&larr; 返回新闻列表</a></p>
                    </div>
            </div>
        </div>
    </div>
    {% include 'footer_section.html' %} 
{% endblock %}
</div>