{% extends "base.html" %} 
{% load wagtailcore_tags %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/secondarypage.css' %}">
{% include 'topnav3.html' %}
<div class="main">
    <div class="container-fluid topbanner">
        <div class="banner">
            <img class="banner-img" src="{% static 'images/partybanner.jpg' %}" alt="news">
        </div>
    </div>
    <div class="container news-container">
        <div class="row">
            <div class="col-3 column-nav">
                <div class="tab-title"><h4><strong>{{ page.get_parent }}</strong></h4></div>
                <div class="nav flex-column nav-pills sidenav" id="colSideNav" role="tablist" aria-orientation="vertical">
                    {% for column in self.get_parent.get_children %}
                        <a class="nav-link nav-left" id="v-pills-home-tab"  href="{% pageurl column %}" role="tab" aria-controls="v-pills-home"
                    aria-selected="true">{{ column }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-9" id="newsList">
                <div class="row list-title">
                        <div class="col-3 text-left" id="column-title"><h5></h5></div>
                        <div class="col-9 path-wrapper">
                                <nav aria-label="breadcrumb" class="current-path">
                                    <div><h5>当前位置</h5></div>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">首页</a></li>
                                        <li class="breadcrumb-item"><a href="{{ self.get_parent.url }}">{{ self.get_parent }}</a></li>
                                        <li class="breadcrumb-item active" id="current_column" aria-current="page" data-column-slug="{{ self.slug }}">{{ self }}</li> 
                                    </ol>
                                </nav>
                        </div>
                    </div>
                    <span id="sideNavToggle" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
                    <hr>
                <div class="tab-content" id="v-pills-tabContent">
                    <div>
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="">         
                        <!-- {% for news in page_entries.object_list %}
                            {% if news.news_category == "singlepage" %}
                                <div class="row">
                                    {{ news.body | richtext }}
                                </div>
                            {% endif %}
                        {% endfor %} -->
                        <div class="row theory-row">
                            <div class="col-md-6">
                                    <a href="/partybuilding/theory/conference">
                                        <img class="img-fluid" src="{% static 'images/jingsheng.png' %}" alt="">
                                    </a>
                            </div>
                            <div class="col-md-6">                        
                                <a href="http://www.12371.cn/special/dnfg/">
                                    <img class="img-fluid" src="{% static 'images/fagui.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="row theory-row">
                            <div class="col-md-6">       
                                <a href="http://www.12371.cn/special/sxll/">
                                    <img class="img-fluid" src="{% static 'images/lilun.png' %}" alt="">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="http://xuexi.12371.cn/kjjm/">
                                    <img class="img-fluid" src="{% static 'images/kejian.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- {% for column in column_entries %}
                            {{ column.specific.theory_name | richtext }}
                            {{ column.specific.link_href }}
                        {% endfor %} -->

                    </div>
                </div>
                <div class="row page-nav-wrapper">
                    <nav class="page-nav" aria-label="Page navigation example">
                                {% if page_entries.has_other_pages %}
                                <ul class="pagination">
                                  {% if page_entries.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_entries.previous_page_number }}">&laquo;</a></li>
                                  {% else %}
                                    <li class="page-item disabled"><a class="page-link" href=""><span>&laquo;</span></a></li>
                                  {% endif %}
                                  {% for i in page_entries.paginator.page_range %}
                                    {% if page_entries.number == i %}
                                      <li class="page-item active"><a class="page-link" href=""><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
                                    {% else %}
                                      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                  {% endfor %}
                                  {% if page_entries.has_next %}
                                    <li  class="page-item"><a class="page-link" href="?page={{ page_entries.next_page_number }}">&raquo;</a></li>
                                  {% else %}
                                    <li class="page-item disabled"><a class="page-link" href=""><span>&raquo;</span></a></li>
                                  {% endif %}
                                </ul>
                              {% endif %}
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% include 'footer_section.html' %} 
{% endblock %}