{% load static %}
{% block business %}
<div class="container business-wrapper">
    <div class="section-title">
            <h4>业务领域</h4>
    </div>
    <div class="row">
            <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="/business#1主金融">
                                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                    <div class="flipper">
                                        <div class="busi-title">
                                            <div class="back-title">主金融</div>
                                            <p>证券、基金、期货、保险</p>
                                        </div>
                                        <div class="busi-icon">
                                            <img class="img-fluid" src="{% static 'images/zhujinrong.png' %}" alt="Second slide">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/business#2类金融">
                                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                        <div class="flipper">
                                            <div class="busi-title">
                                                <div class="back-title">类金融</div>
                                                <p>金融资产管理、股权投资</p>
                                            </div>
                                            <div class="busi-icon">
                                                <img class="img-fluid" src="{% static 'images/leijinrong.png' %}" alt="Second slide">
                                            </div>
                                        </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                                <a href="/business#3平台类">
                                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                        <div class="flipper">
                                            <div class="busi-title">
                                                    <div class="back-title">平台类</div>
                                                    <p>股交中心</p>
                                                </div>    
                                            <div class="busi-icon">
                                                    <img class="img-fluid" src="{% static 'images/pingtailei.png' %}" alt="Second slide"> 
                                                </div>
                                        </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="/business#4其他类">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                            <div class="flipper">
                                                    <div class="busi-title">
                                                            <div class="back-title">其他类</div>
                                                            <p>文化服务</p>
                                                        </div>    
                                                <div class="busi-icon">
                                                        <img class="img-fluid" src="{% static 'images/qitalei.png' %}" alt="Second slide"> 
                                                    </div>
                                            </div>
                                    </div>
                                </a>
                            </div>
                    </div>
                </div>
    </div>
    <div class="section-title">
            <h4>投资企业</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
             <div class="row invest-companys">
                     <div class="col-md-3">
                             <div class="company-grid">
                                   <a href="/business/investment#hlzqgf">
                                        <img class="img-fluid" src="{% static 'images/hlzq.png' %}" alt="">
                                   </a>	
                                 </div>
                     </div>
                     <div class="col-md-3">
                             <div class="company-grid">
                                 <a href="/business/investment#hlqhgf">
                                        <img class="img-fluid" src="{% static 'images/gqjyzx.png' %}" alt="">
                                 </a>
                                 </div>
                     </div>
                     <div class="col-md-3">
                             <div class="company-grid">
                                 <a href="/business/investment#gqjyzx">
                                        <img class="img-fluid" src="{% static 'images/hlqh.png' %}" alt="">
                                 </a>
                                 </div>
                     </div>
                     <div class="col-md-3">
                             <div class="company-grid">
                                 <a href="/business/investment#cdjrzc">
                                        <img class="img-fluid" src="{% static 'images/hsjj.png' %}" alt="">
                                 </a>
                                 </div>
                     </div>
                 </div>
                <div class="row invest-companys">
                     <div class="col-md-3">
                             <div class="company-grid">
                                <a href="/business/investment#dhrsbx">
                                    <img class="img-fluid" src="{% static 'images/jczbgl.png' %}" alt="">
                                </a>
                                 </div>
                     </div>
                     <div class="col-md-3">
                             <div class="company-grid">
                                 <a href="/business/investment#dhrsbx">
                                    <img class="img-fluid" src="{% static 'images/cdjrzc.png' %}" alt="">
                                 </a>
                                 </div>
                     </div>
                     <div class="col-md-3">
                             <div class="company-grid">
                                    <a href="/business/investment#dhrsbx">
                                        <img class="img-fluid" src="{% static 'images/dhrs.png' %}" alt="">
                                    </a>
                                 </div>
                     </div>
                     <div class="col-md-3">
                             <div class="company-grid">
                                 <a href="/business#investment">
                                    <h2>更多+</h2>
                                 </a>
                                 </div>
                     </div>
                 </div>
        </div>
 </div>
</div>
{% endblock %}