{% load static %}
{% block business %}
<div class="container-fluid business-wrapper">
    <div class="row">
            <div class="col-md-6">
                    <div class="well">
                        <h4>
                            <strong>控参股公司</strong>
                        </h4>
                        <div class="row news-category">
                            <div class="col-sm-2">
                                <a href="">
                                    <h5>全部</h5>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="">
                                    <h5>全资公司</h5>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="">
                                    <h5>控股公司</h5>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="">
                                    <h5>参股公司</h5>
                                </a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="row align-row">
                        <div class="col-md-6">
                            <div class="company"><h3><strong>华龙证券</strong></h3></div>                    
                        </div>
                        <div class="col-md-6">
                            <div class="company"><h3><strong>华龙期货</strong></h3></div>                                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="company"><h3><strong>甘肃股权交易中心</strong></h3></div>                                            
                        </div>
                        <div class="col-md-6">
                            <div class="company"><h3><strong>华商基金</strong></h3></div>                                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="company"><h3><strong>甘肃长达金融资产</strong></h3></div>                                            
                        </div>
                        <div class="col-md-6">
                            <div class="company"><h3><strong>敦煌人寿（筹）</strong></h3></div>                                      
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="well">
                        <h4>
                            <strong>业务领域</strong>
                        </h4>
                        <div class="row news-category">
                            <h5>甘肃金融控股集团有限公司</h5>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="invest-category">
                                <div class="icon-wrapper">
                                    <img class="d-block w-50 h-50" src="{% static 'images/zhujinrong.png' %}" alt="Second slide">
                                </div>
                                <h4>主金融</h4>
                                <h6>证券、基金、期货、保险</h6>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="invest-category">
                                <div class="icon-wrapper">
                                    <img class="d-block w-50 h-50" src="{% static 'images/leijinrong.png' %}" alt="Second slide">                            
                                </div>
                                <h4>类金融</h4>
                                <h6>金融资产管理、股权投资</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="invest-category">
                                <div class="icon-wrapper">
                                    <img class="d-block w-50 h-50" src="{% static 'images/pingtailei.png' %}" alt="Second slide"> 
                                </div>
                                <h4>平台类</h4>
                                <h6>股交中心</h6>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="invest-category">
                                <div class="icon-wrapper">
                                    <img class="d-block w-50 h-50" src="{% static 'images/pingtailei.png' %}" alt="Second slide"> 
                                </div>
                                <h4>其他类</h4>
                                <h6>文化服务</h6>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>
{% endblock %}