{% block business %}
<div class="container center business-wrapper">
    <div class="col-sm-6">
        <div class="well">
            <h4><strong>控参股公司</strong></h4>
            <div class="row news-category">
                    <div class="col-sm-2"><a href=""><h5>全部</h5></a></div>
                    <div class="col-sm-3"><a href=""><h5>全资公司</h5></a></div>
                    <div class="col-sm-3"><a href=""><h5>控股公司</h5></a></div>
                    <div class="col-sm-3"><a href=""><h5>参股公司</h5></a></div>
                </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="grid">
                        <img src="http://via.placeholder.com/220x150" alt="">                        
                </div>
            </div>
            <div class="col-sm-6">
                <div class="grid">
                        <img src="http://via.placeholder.com/220x150" alt="">                        
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="grid">
                        <img src="http://via.placeholder.com/220x150" alt="">                        
                </div>
            </div>
            <div class="col-sm-6">
                <div class="grid">
                        <img src="http://via.placeholder.com/220x150" alt="">                        
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="grid">
                        <img src="http://via.placeholder.com/220x150" alt="">                        
                </div>
            </div>
            <div class="col-sm-6">
                <div class="grid">
                        <img src="http://via.placeholder.com/220x150" alt="">                        
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="well">
            <h4><strong>业务领域</strong></h4>
            <div class="row news-category">
                    <div class="col-sm-3"><a href=""><h5>主金融</h5></a></div>
                    <div class="col-sm-3"><a href=""><h5>类金融</h5></a></div>
                    <div class="col-sm-3"><a href=""><h5>平台类</h5></a></div>
                </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <div class="grid">
                    <figure class="effect-ming">
                        <img src="https://tympanus.net/Development/HoverEffectIdeas/img/9.jpg" alt="img09" />
                        <figcaption>
                            <h2>Funny
                                <span>Ming</span>
                            </h2>
                            <p>Ming sits in the corner the whole day. She's into crochet.</p>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="grid">
                    <figure class="effect-ming">
                        <img src="https://tympanus.net/Development/HoverEffectIdeas/img/8.jpg" alt="img08" />
                        <figcaption>
                            <h2>Funny
                                <span>Ming</span>
                            </h2>
                            <p>Ming sits in the corner the whole day. She's into crochet.</p>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="grid">
                    <figure class="effect-ming">
                        <img src="https://tympanus.net/Development/HoverEffectIdeas/img/9.jpg" alt="img09" />
                        <figcaption>
                            <h2>Funny
                                <span>Ming</span>
                            </h2>
                            <p>Ming sits in the corner the whole day. She's into crochet.</p>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="grid">
                    <figure class="effect-ming">
                        <img src="https://tympanus.net/Development/HoverEffectIdeas/img/8.jpg" alt="img08" />
                        <figcaption>
                            <h2>Funny
                                <span>Ming</span>
                            </h2>
                            <p>Ming sits in the corner the whole day. She's into crochet.</p>
                            <a href="#">View more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}