{% load static %}
{% block business %}
<div class="container business-wrapper">
    <div class="row">
            <div class="col-md-6">
                    <div class="well">
                        <h4>
                            <strong>控参股企业</strong>
                        </h4>
                        <div class="row news-category">
                            <div class="col-sm-2">
                                <a href="">
                                    <h5><a href="/business#investment">全部</a></h5>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="">
                                    <h5><a href="/business#investment">全资企业</a></h5>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="">
                                    <h5><a href="/business#investment">控股企业</a></h5>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="">
                                    <h5><a href="/business#investment">参股企业</a></h5>
                                </a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="row align-row">
                        <div class="col-md-6">
                        <div class="grid">
                                <figure class="effect-sadie">
                                        {% comment %} <img src="" alt="img02"/> {% endcomment %}
                                    <figcaption>
                                        <h2>华龙证券</h2>
                                        <p>www.hlzq.com</p>
                                        <a href="#">View more</a>
                                    </figcaption>			
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-6">
                                <div class="grid">
                                    <figure class="effect-sadie">
                                        <figcaption>
                                            <h2>华龙期货</h2>
                                            <p>www.hlqhgs.com</p>
                                            <a href="/business/investment#华龙期货股份有限公司">View more</a>
                                        </figcaption>			
                                    </figure>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="grid">
                                    <figure class="effect-sadie">
                                        <figcaption>
                                            <h2>甘肃股权交易中心</h2>
                                            <p>www.gsotc.com.cn</p>
                                            <a href="/business/investment#甘肃股权交易中心股份有限公司">View more</a>
                                        </figcaption>			
                                    </figure>
                                </div>
                        </div>
                        <div class="col-md-6">
                            <div class="grid">
                                    <figure class="effect-sadie">
                                        <figcaption>
                                            <h2>华商基金</h2>
                                            <p>www.hsfund.com</p>
                                            <a href="/business/investment#华商基金管理有限公司">View more</a>
                                        </figcaption>			
                                    </figure>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="grid">
                                    <figure class="effect-sadie">
                                        <figcaption>
                                            <h2>甘肃长达金融资产</h2>
                                            <p>www.cdamc.net</p>
                                            <a href="/business/investment#甘肃长达金融资产管理股份有限公司">View more</a>
                                        </figcaption>			
                                    </figure>
                                </div>
                        </div>
                        <div class="col-md-6">
                            <div class="grid">
                                    <figure class="effect-sadie">
                                        <figcaption>
                                            <h2>敦煌人寿（筹）</h2>
                                            <p></p>
                                            <a href="/business/investment#敦煌人寿保险股份有限公司">View more</a>
                                        </figcaption>			
                                    </figure>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="well">
                        <h4>
                            <strong>业务领域</strong>
                        </h4>
                        <div class="row news-category">
                            <h5>甘肃金融控股集团有限公司</h5>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="/business#主金融">
                                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                        <div class="flipper">
                                          <div class="front">
                                            <img class="img-fluid" src="{% static 'images/zhujinrong.png' %}" alt="Second slide">                                          </div>
                                          <div class="back">
                                            <div class="back-title">主金融</div>
                                            <p>证券、基金、期货、保险</p>
                                          </div>
                                        </div>
                                      </div>
                                        <!-- <div class="icon-wrapper">
                                            <img class="img-fluid" src="{% static 'images/zhujinrong.png' %}" alt="Second slide">
                                        </div>
                                        <h4>主金融</h4>
                                        <h6>证券、基金、期货、保险</h6>
                                    </div> -->
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/business#类金融">
                                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                        <div class="flipper">
                                          <div class="front">
                                            <img class="img-fluid" src="{% static 'images/leijinrong.png' %}" alt="Second slide">                                          </div>
                                          <div class="back">
                                            <div class="back-title">类金融</div>
                                            <p>金融资产管理、股权投资</p>
                                          </div>
                                        </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                           <a href="/business#平台类">
                            <div class="invest-category">
                                    <div class="icon-wrapper">
                                        <img class="img-fluid" src="{% static 'images/pingtailei.png' %}" alt="Second slide"> 
                                    </div>
                                    <h4>平台类</h4>
                                    <h6>股交中心</h6>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/business#其他类">
                                <div class="invest-category">
                                        <div class="icon-wrapper">
                                            <img class="img-fluid" src="{% static 'images/pingtailei.png' %}" alt="Second slide"> 
                                        </div>
                                        <h4>其他类</h4>
                                        <h6>文化服务</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
    </div>
</div>
{% endblock %}