{% load static %}
{% block business %}
<div class="container business-wrapper">
    <div class="row">
            <div class="col-md-6">
                    <div class="well">
                        <h4>
                            <strong>控参股企业</strong>
                        </h4>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        <div class="grid">
                                <figure class="effect-sadie">
                                    <!-- <img class="img-fluid" src="{% static 'images/companybg.png' %}" alt="img02"/> -->
                                    <figcaption>
                                        <h2>华龙证券</h2>
                                        <p>www.hlzq.com</p>
                                        <a href="/business/investment#hlzqgf">View more</a>
                                    </figcaption>			
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-6">
                                <div class="grid">
                                    <figure class="effect-sadie">
                                        <figcaption>
                                            <h2>华龙期货</h2>
                                            <p>www.hlqhgs.com</p>
                                            <a href="/business/investment#hlqhgf">View more</a>
                                        </figcaption>			
                                    </figure>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="grid">
                                    <figure class="effect-sadie">
                                        <figcaption>
                                            <h2>甘肃股权交易中心</h2>
                                            <p>www.gsotc.com.cn</p>
                                            <a href="/business/investment#gqjyzx">View more</a>
                                        </figcaption>			
                                    </figure>
                                </div>
                        </div>
                        <div class="col-md-6">
                            <div class="grid">
                                    <figure class="effect-sadie">
                                        <figcaption>
                                            <h2>甘肃长达金融资产</h2>
                                            <p>www.cdamc.net</p>
                                            <a href="/business/investment#cdjrzc">View more</a>
                                        </figcaption>			
                                    </figure>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="grid">
                                    <figure class="effect-sadie">
                                        <figcaption>
                                            <h2>敦煌人寿（筹）</h2>
                                            <p></p>
                                            <a href="/business/investment#dhrsbx">View more</a>
                                        </figcaption>			
                                    </figure>
                                </div>
                        </div>
                        <div class="col-md-6">
                            <div class="grid">
                                    <figure class="effect-sadie">
                                        <figcaption>
                                            <h2>更多</h2>
                                            <p></p>
                                            <a href="/business/investment">View more</a>
                                        </figcaption>			
                                    </figure>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="well">
                        <h4>
                            <strong>业务领域</strong>
                        </h4>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="/business#主金融">
                                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                    <div class="flipper">
                                        <div class="front">
                                            <img class="img-fluid" src="{% static 'images/zhujinrong.png' %}" alt="Second slide">
                                        </div>
                                        <div class="back">
                                            <div class="back-title">主金融</div>
                                            <p>证券、基金、期货、保险</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/business#类金融">
                                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                        <div class="flipper">
                                            <div class="front">
                                                <img class="img-fluid" src="{% static 'images/leijinrong.png' %}" alt="Second slide">                                          </div>
                                            <div class="back">
                                                <div class="back-title">类金融</div>
                                                <p>金融资产管理、股权投资</p>
                                            </div>
                                        </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="/business#平台类">
                            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                    <div class="flipper">
                                            <div class="front">
                                                <img class="img-fluid" src="{% static 'images/pingtailei.png' %}" alt="Second slide"> 
                                            </div>
                                            <div class="back">
                                                <div class="back-title">平台类</div>
                                                <p>股交中心</p>
                                            </div>
                                    </div>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/business#其他类">
                                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                        <div class="flipper">
                                                <div class="front">
                                                    <img class="img-fluid" src="{% static 'images/qitalei.png' %}" alt="Second slide"> 
                                                </div>
                                                <div class="back">
                                                    <div class="back-title">其他类</div>
                                                    <p>文化服务</p>
                                                </div>
                                        </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
    </div>
</div>
{% endblock %}