{% block footer %}
<div class="container footer-wrap">
    <div class="row">
        <div class="col-xs-3">
            <h6>集团介绍</h6>
            <ul class="list-unstyled">
                <li>
                    <a href="">集团简介</a>
                </li>
                <li>
                    <a href="">领导介绍</a>
                </li>
                <li>
                    <a href="">集团荣誉</a>
                </li>
                <li>
                    <a href="">精英团队</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-3">
            <h6>集团业务</h6>
            <ul class="list-unstyled">
                <li>
                    <a href="">业务框架</a>
                </li>
                <li>
                    <a href="">业务布局</a>
                </li>
                <li>
                    <a href="">目标成就</a>
                </li>
                <li>
                    <a href="">商业伙伴</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-3">
            <h6>企业文化</h6>
        </div>
        <div class="col-xs-3">
            <h6>集团动态</h6>
        </div>
        <div class="col-xs-3">
            <h6>人才计划</h6>
        </div>
        <div class="col-xs-3">
            <h6联系我们></h6>
        </div>
    </div>
</div>
<div class="subfooter">
    <div class="container">
        <div class="row copyright">
            <p>
                © 2017 甘肃金融控股集团有限公司
            </p>
        </div>
    </div>
</div>
{% endblock %}