{% load static %}
{% block fund %}
<div class="container center fund-wrapper">
    <div class="section-title">
        <h4>甘肃产业发展投资基金</h4>
    </div>
    <div class="content">
        <!-- <div class="row fund-container">
            <div class="fund-elem">
                <div class="fund-category">
                    <h4>战略新型产业</h4>
                </div>
                <div class="fund-icon">
                    <img src="{% static 'images/newindustry.png' %}" alt="">
                </div>
            </div>
            <div class="fund-elem">
                <div class="fund-category">
                    <h4>现代农业</h4>
                </div>
                <div class="fund-icon">
                    <img src="{% static 'images/agriculture.png' %}" alt="">
                </div>
            </div>
            <div class="fund-elem">
                    <div class="fund-category">
                            <h4>陇药发展</h4>
                        </div>
                        <div class="fund-icon">
                            <img src="{% static 'images/pharmacy.png' %}" alt="">
                        </div>
            </div>
            <div class="fund-elem">
                    <div class="fund-category">
                            <h4>文化旅游</h4>
                        </div>
                        <div class="fund-icon">
                            <img src="{% static 'images/tourism.png' %}" alt="">
                        </div>
            </div>
            <div class="fund-elem">
                    <div class="fund-category">
                            <h4>健康养老</h4>
                        </div>
                        <div class="fund-icon">
                            <img src="{% static 'images/health.png' %}" alt="">
                        </div>
            </div>
            <div class="fund-elem">
                    <div class="fund-category">
                            <h4>PPP</h4>
                        </div>
                        <div class="fund-icon">
                            <img src="{% static 'images/ppp.png' %}" alt="">
                        </div>
            </div>
            <div class="fund-elem">
                    <div class="fund-category">
                        <h4>新区发展</h4>
                    </div>
                    <div class="fund-icon">
                        <img src="{% static 'images/newdistrict.png' %}" alt="">
                    </div>
                </div>
        </div> -->

        <div class="container">
            <div class="row seven-cols">
                <div class="col-md-1">
                        <div class="fund-elem">
                                <div class="fund-category">
                                    <h4>战略新型产业</h4>
                                </div>
                                <div class="fund-icon">
                                    <img src="{% static 'images/newindustry.png' %}" alt="">
                                </div>
                            </div>
                </div>
                <div class="col-md-1">
                        <div class="fund-elem">
                                <div class="fund-category">
                                    <h4>现代农业</h4>
                                </div>
                                <div class="fund-icon">
                                    <img src="{% static 'images/agriculture.png' %}" alt="">
                                </div>
                            </div>
                </div>
                <div class="col-md-1">
                        <div class="fund-elem">
                                <div class="fund-category">
                                        <h4>陇药发展</h4>
                                    </div>
                                    <div class="fund-icon">
                                        <img src="{% static 'images/pharmacy.png' %}" alt="">
                                    </div>
                        </div>
                </div>
                <div class="col-md-1">
                        <div class="fund-elem">
                                <div class="fund-category">
                                        <h4>文化旅游</h4>
                                    </div>
                                    <div class="fund-icon">
                                        <img src="{% static 'images/tourism.png' %}" alt="">
                                    </div>
                        </div>
                </div>
                <div class="col-md-1">
                        <div class="fund-elem">
                                <div class="fund-category">
                                        <h4>健康养老</h4>
                                    </div>
                                    <div class="fund-icon">
                                        <img src="{% static 'images/health.png' %}" alt="">
                                    </div>
                        </div>
                </div>
                <div class="col-md-1">
                        <div class="fund-elem">
                                <div class="fund-category">
                                        <h4>PPP</h4>
                                    </div>
                                    <div class="fund-icon">
                                        <img src="{% static 'images/ppp.png' %}" alt="">
                                    </div>
                        </div>
                </div>
                <div class="col-md-1">
                        <div class="fund-elem">
                                <div class="fund-category">
                                    <h4>新区发展</h4>
                                </div>
                                <div class="fund-icon">
                                    <img src="{% static 'images/newdistrict.png' %}" alt="">
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}