{% load static %}
{% block fund %}
<div class="container center fund-wrapper">
    <div class="section-title">
        <h4>甘肃产业发展投资基金</h4>
    </div>
    <div class="content">
        <div class="container">
            <div class="row seven-cols">
                <div class="col-md-1">
                        <div class="fund-elem">
                                <div class="fund-category">
                                    <h4>战略新型产业</h4>
                                </div>
                                <div class="fund-icon">
                                    <img src="{% static 'images/newindustry.png' %}" alt="">
                                </div>
                        </div>
                        <div class="fund-intro">
                            <div class="intro-text">包含甘肃省战略性新兴产业创业投资引导基金、甘肃新材料产业创业投资基金...</div>
                            <div class="detail">
                                <span>查看详情</span>
                            </div>
                        </div>
                </div>
                <div class="col-md-1">
                        <div class="fund-elem">
                                <div class="fund-category">
                                    <h4>现代农业</h4>
                                </div>
                                <div class="fund-icon">
                                    <img src="{% static 'images/agriculture.png' %}" alt="">
                                </div>
                        </div>
                        <div class="fund-intro">
                            <div class="intro-text">
                                包含甘肃农田水利投资基金、甘肃省现代农业产业创业投资基金、甘肃苹果产业发展投资基金...
                            </div>
                            <div class="detail">
                                <span>查看详情</span>
                            </div>
                        </div>
                </div>
                <div class="col-md-1">
                        <div class="fund-elem">
                                <div class="fund-category">
                                        <h4>陇药发展</h4>
                                    </div>
                                    <div class="fund-icon">
                                        <img src="{% static 'images/pharmacy.png' %}" alt="">
                                    </div>
                        </div>
                        <div class="fund-intro">
                                <div class="intro-text">
                                    包含甘肃陇药发展投资基金，投向包括中药材市场PPP建设项目、省内城市综合中医药工程项目等...
                                </div>
                                <div class="detail">
                                    <span>查看详情</span>
                                </div>
                            </div>
                </div>
                <div class="col-md-1">
                        <div class="fund-elem">
                                <div class="fund-category">
                                        <h4>文化旅游</h4>
                                    </div>
                                    <div class="fund-icon">
                                        <img src="{% static 'images/tourism.png' %}" alt="">
                                    </div>
                        </div>
                        <div class="fund-intro">
                            <div class="intro-text">
                                    包含甘肃省旅游产业投资基金、甘肃陇泰牛肉面产业发展基金...
                            </div>
                            <div class="detail">
                                <span>查看详情</span>
                            </div>
                        </div>
                </div>
                <div class="col-md-1">
                        <div class="fund-elem">
                                <div class="fund-category">
                                        <h4>健康养老</h4>
                                    </div>
                                    <div class="fund-icon">
                                        <img src="{% static 'images/health.png' %}" alt="">
                                    </div>
                        </div>
                        <div class="fund-intro">
                                <div class="intro-text">
                                    包含甘肃养老服务产业发展基金、甘肃生物医药产业创业投资基金、甘肃生物产业创业投资基金...
                                </div>
                                <div class="detail">
                                    <span>查看详情</span>
                                </div>
                            </div>
                </div>
                <div class="col-md-1">
                        <div class="fund-elem">
                                <div class="fund-category">
                                        <h4>PPP</h4>
                                    </div>
                                    <div class="fund-icon">
                                        <img src="{% static 'images/ppp.png' %}" alt="">
                                    </div>
                        </div>
                        <div class="fund-intro">
                                <div class="intro-text">
                                    包含甘肃中政企投资管理基金，主要投向于能源、交通运输等公共服务领域...
                                </div>
                                <div class="detail">
                                    <span>查看详情</span>
                                </div>
                            </div>
                </div>
                <div class="col-md-1">
                        <div class="fund-elem">
                                <div class="fund-category">
                                    <h4>新区发展</h4>
                                </div>
                                <div class="fund-icon">
                                    <img src="{% static 'images/newdistrict.png' %}" alt="">
                            </div>
                            </div>
                            <div class="fund-intro">
                                <div class="intro-text">
                                    包含兰州新区城市建设发展基金，主要投向于城市基础设施产业、新区市政道路及配套设施建设...
                                </div>
                                <div class="detail">
                                    <span>查看详情</span>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}