{% block milestone %}
<div class="container-fluid milestone-wrapper">
    <div class="up-slogan">
        <div class="slogan-item">
            <h1>立丝绸之路</h1>
        </div>
        <div class="slogan-item">
            <h1>兴金融产业</h1>
        </div>
        <div class="slogan-item">
            <h1>助甘肃发展</h1>
        </div>
         <h4>甘肃金融控股集团有限公司</h4>
        <h1>大事记</h1>
    </div>
    <div class="year-nav">
        year
    </div>
    <section>
        <section class="cd-horizontal-timeline">
            <div class="timeline">
                <div class="events-wrapper">
                    <div class="events">
                        <ol>
                            <li>
                                <a href="#0" data-date="01/12/2015" class="selected">2015.12.1</a>
                            </li>
                            <li>
                                <a href="#0" data-date="23/02/2016">2016.2.23</a>
                            </li>
                            <li>
                                <a href="#0" data-date="07/04/2016">2016.4.7</a>
                            </li>
                            <li>
                                <a href="#0" data-date="21/10/2016">2016.10.21</a>
                            </li>
                            <li>
                                <a href="#0" data-date="02/11/2016">2016.11.2</a>
                            </li>
                            <li>
                                <a href="#0" data-date="14/12/2016">2016.12.14</a>
                            </li>
                            <li>
                                <a href="#0" data-date="11/05/2017">2017.5.11</a>
                            </li>
                            <li>
                                <a href="#0" data-date="01/08/2017">2017.8.1</a>
                            </li>
                            <li>
                                <a href="#0" data-date="07/08/2017">2017.8.7</a>
                            </li>
                            <li>
                                <a href="#0" data-date="25/08/2017">2017.8.25</a>
                            </li>
                            <li>
                                <a href="#0" data-date="18/09/2017">2017.9.18</a>
                            </li>
                            <li>
                                <a href="#0" data-date="01/11/2017">2017.11.1</a>
                            </li>
                            <li>
                                <a href="#0" data-date="17/11/2017">2017.11.17</a>
                            </li>
                            <li>
                                <a href="#0" data-date="15/12/2017">2017.12.15</a>
                            </li>
                            <li>
                                <a href="#0" data-date="21/12/2017">2017.12.21</a>
                            </li>
                        </ol>
                        <span class="filling-line" aria-hidden="true"></span>
                    </div>
                    <!-- .events -->
                </div>
                <!-- .events-wrapper -->

                <ul class="cd-timeline-navigation">
                    <li>
                        <a href="#0" class="prev inactive">Prev</a>
                    </li>
                    <li>
                        <a href="#0" class="next">Next</a>
                    </li>
                </ul>
                <!-- .cd-timeline-navigation -->
            </div>
            <!-- .timeline -->

            <div class="events-content">
                <ol>
                    <li class="selected" data-date="01/12/2015">
                            <p>
                                省政府金融办研究提出组建甘肃金融控股集团有限公司的意见
                            </p>
                    </li>

                    <li data-date="23/02/2016">
                        <p>
                            省政府第112次常务会议和3月22日省委常委会议审议通过了《甘肃金融控股集团有限公司筹建方案》
                        </p>
                    </li>

                    <li data-date="07/04/2016">
                        <p>
                            省政府同意省政府国资委、省财政厅出资组建甘肃金融控股集团有限公司
                        </p>
                    </li>

                    <li data-date="21/10/2016">
                        <p>
                            省政府任命李晓安为甘肃金融控股集团有限公司董事长    
                        </p>
                    </li>

                    <li data-date="02/11/2016">
                        <p>
                            省政府国资委向甘肃省金融控股有限公司出资26.72亿元，甘肃省金融控股有限公司更名为甘肃金融控股集团有限公司                      
                        </p>
                    </li>

                    <li data-date="14/12/2016">
                        <p>
                            甘肃金融控股集团有限公司出资1亿元（持股10%）设立甘肃文博投资有限公司                      
                        </p>
                    </li>

                    <li data-date="11/05/2017">
                        <p>
                            省政府第150次常务会议同意由甘肃金融控股集团有限公司发起设立敦煌人寿保险股份有限公司、甘肃长达金融资产管理股份有限公司，参与光大兴陇信托增资事宜                            
                        </p>
                    </li>

                    <li data-date="01/08/2017">
                        <p>
                            甘肃长达金融资产管理股份有限公司创立大会成功召开                        
                        </p>
                    </li>

                    <li data-date="07/08/2017">
                        <p>
                            甘肃金融控股集团有限公司出资300万元（持股30%）设立兰州新区基金管理有限公司
                        </p>
                    </li>

                    <li data-date="25/08/2017">
                        <p>
                            甘肃长达金融资产管理股份有限公司工商注册成立
                        </p>
                    </li>

                    <li data-date="18/09/2017">
                        <p>
                            省政府金融办同意由甘肃金融控股集团有限公司与大禹节水股份有限公司发起设立甘肃农田水利投资基金
                        </p>
                    </li>
                    <li data-date="01/11/2017">
                        <p>
                            省政府第167次常务会议同意由甘肃金融控股集团有限公司发起设立500亿元甘肃产业发展投资基金
                        </p>
                    </li>
                    <li data-date="17/11/2017">
                        <p>
                            甘肃农田水利投资基金（有限合伙）工商注册成立
                        </p>
                    </li>
                    <li data-date="15/12/2017">
                        <p>
                            甘肃产业发展投资基金（有限合伙）工商注册成立
                        </p>
                    </li>
                    <li data-date="21/12/2017">
                        <p>
                            甘肃中政企投资管理基金（有限合伙）工商注册成立
                        </p>
                    </li>
                </ol>
            </div>
            <!-- .events-content -->
        </section>
    </section>
</div>
{% endblock %}