{% block newscenter %}
<div class="container center newsboard">
    <div class="col-sm-9">
        <div class="well">
            <h3>资讯中心</h3>
            <div class="row news-category">
                <div class="col-sm-3"><a href=""><h5>集团要闻</h5></a></div>
                <div class="col-sm-3"><a href=""><h5>企业动态</h5></a></div>
                <div class="col-sm-3"><a href=""><h5>行业资讯</h5></a></div>
                <div class="col-sm-3"><a href=""><h5>党建工作</h5></a></div>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h4>Users</h4>
                <p>Million</p>
            </div>
            <div class="col-sm-3">
                <h4>Users</h4>
                <p>Million</p>
            </div>
            <div class="col-sm-3">
                <h4>Users</h4>
                <p>Million</p>
            </div>
            <div class="col-sm-3">
                <h4>Users</h4>
                <p>Million</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}