{% load static %} 
{% block newscenter %}
<div class="container-fluid center newsboard">
    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <h3>资讯中心</h3>
                <div class="row news-category">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
                                aria-selected="true">集团要闻</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
                                aria-selected="false">企业动态</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
                                aria-selected="false">行业资讯</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
                                aria-selected="false">党建工作</a>
                        </li>
                    </ul>
                    <div>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="row breaknewsimg">
                                            <img src="{% static 'images/breaknews.png' %}" alt="news">
                                        </div>
                                        <div class="row col1-breaknews">
                                            <div>
                                                <div class="title">创业团队齐聚华龙，共话“投资+创新” “华龙证券杯”投资创业大赛初赛圆满落幕</div>
                                                <hr>
                                                <div div class="summary">2017年11月6日至17日……</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row col2-news">
                                            <div>
                                                <div class="title">品鉴传统文化 体悟生活之美</div>
                                                <hr>
                                                <div div class="col2-summary">近年来，证券行业再发展的高速路上大步迈进，变化日新月异，随着A股市场与全球资本</div>
                                            </div>
                                        </div>
                                        <div class="row col2-newsimg">
                                            <img src="{% static 'images/col2news1.png' %}" alt="news">
                                        </div>
                                        <div class="row col2-news">
                                            <div>
                                                <div class="title">品鉴传统文化 体悟生活之美</div>
                                                <hr>
                                                <div div class="col2-summary">近年来，证券行业再发展的高速路上大步迈进，变化日新月异，随着A股市场与全球资本</div>
                                            </div>
                                        </div>
                                        <div class="row col2-newsimg">
                                            <img src="{% static 'images/col2news2.png' %}" alt="news">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row col3-newsimg">
                                            <img src="{% static 'images/zhiguolizheng.png' %}" alt="news">
                                        </div>
                                        <div class="row col3-news">
                                            <div>
                                                <div class="title">人民日报评论员解读十九大“新声音”系列之一</div>
                                                <hr>
                                                <div class="col3-summary">
                                                    一个铁路迷，不久前开始了一系列雄心勃勃的计划，走遍中国2306座高铁站，拍摄一部纪录片，名字就是——《下一站，中国》
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row col3-newsimg">
                                            <img src="{% static 'images/col3news.png' %}" alt="news">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row col4-news">
                                            <div>
                                                <div class="title">不忘初心，牢记使命——华龙证券组织全体干部员工观看十九大开幕式</div>
                                                <hr>
                                                <div class="col4-summary">
                                                    <p>举世瞩目的中国共产党第十九次全国代表大会，在北京人民大会堂隆重开幕</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row col4-newsimg">
                                            <img src="{% static 'images/col4news.png' %}" alt="news">
                                        </div>
                                        <div class="row col4-news">
                                            <div>
                                                <div class="title">党风廉政建设学习系列专题讲座</div>
                                                <hr>
                                                <div class="col4-summary">
                                                    <p>公司党委对党风廉政建设和反腐倡廉工作高度重视，要求公司纪委组织，安排专题讲座，对公司全体党员干部员工进行</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit labore quam pariatur reiciendis
                            quidem sint ab velit illum. Quam voluptates inventore eum explicabo et harum illum reprehenderit
                            nisi blanditiis est.</div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quibusdam numquam magnam a, mollitia
                            maiores tempore odit? Dolorem ducimus ratione dicta placeat fugiat ipsum totam, explicabo sunt
                            doloremque iusto corporis?</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}