{% load static %} {% load wagtailcore_tags %} {% load wagtailimages_tags %} {% load bleach_tags %} {% block newscenter %}
<div class="container news-container">
    <div class="section-title">
            <h4>新闻中心</h4>
    </div>
    <div class="row">
        <div class="txMovie col-md-12">
            <div class="focus-gallery">
                <div class="focus-image">
                    <ul class="focus_pic" id="focus_pic_list">
                            {% with news_entries|first as news %}
                            <li style="display: list-item;">
                                    <a href="{% pageurl news %}" target="_blank">
                                        {% if news.representative_image %}
                                            {% image news.representative_image class="img-fluid" fill-510x306 %}
                                        {% else %}
                                            <img class="banner-img" src="{% static 'images/img-default.png' %}" alt="news">
                                        {% endif %}
                                    </a>
                                </li>
                            {% endwith %}
                            {% for news in news_entries|slice:"1:5" %}
                                <li style="display: none;">
                                    <a href="{% pageurl news %}" target="_blank">
                                        {% if news.representative_image %}
                                            {% image news.representative_image class="img-fluid" fill-510x306 %}
                                        {% else %}
                                            <img class="banner-img" src="{% static 'images/img-default.png' %}" alt="news">
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                </div>
                <div class="focus_nav">
                        <ul id="focus_smaillPic_list" style="width: 370px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
                            {% for news in news_entries|slice:"0:5" %}
                                <li class="on" style="float: left; width: 64px;">
                                    <a>
                                        {% if news.representative_image %}
                                            {% image news.representative_image class="img-fluid" fill-64x34 %}
                                        {% else %}
                                            <img class="banner-img" src="{% static 'images/img-default.png' %}" alt="news">
                                        {% endif %}
                                        <span class="cover"></span>
                                    </a>
                                    <b>▲</b>
                                </li>
                            {% endfor %}
                            
                                <!-- <li class="on" style="float: left; width: 64px;">
                                    <a>
                                        <img src="http://www.shanxifh.com/d/file/content/2018/04/5ac1aa94bd98f.jpg">
                                        <span class="cover"></span>
                                    </a>
                                    <b>▲</b>
                                </li>
                                <li style="float: left; width: 64px;" class="">
                                    <a>
                                        <img src="http://www.shanxifh.com/d/file/content/2018/03/5abe056387f8f.jpg">
                                        <span class="cover"></span>
                                    </a>
                                    <b>▲</b>
                                </li> -->
                            </ul>
                </div>
            </div>
            <div class="focus_text">
                <ul id="focus_content_list">
                    {% with news_entries|first as news %}
                    <li style="display: list-item;">
                            <!-- <h2 style="font-weight:bold;">集团要闻</h2> -->
                            <div class="title-wrapper">
                                    <div class="title-highlights">
                                            集团要闻
                                    </div>
                            </div>
                            <h4 class="hl-title">
                                <a href="{% pageurl news %}"> {{ news.title | truncatechars_html:32 }}</a>
                            </h4>
                            <hr style="margin-top: 20px;margin-bottom: 20px;border-top:1px dashed #ccc;">
                            <div class="sum">
                                {{  news.body | richtext | bleach | truncatechars_html:100 }}
                            </div>
                            <hr style="margin-top: 18px;margin-bottom: 10px;border-top:1px dashed #ccc;">
                            <!-- <p class="pull-left">
                                <span class="rq">发布日期：{{ news.date | date:"Y-m-d" }}</span>
                                <span>
                                    <a href="{% pageurl news %}" class="ckxq">查看详情</a>
                                </span>
                            </p> -->
                        </li>
                    {% endwith %}
                    {% for news in news_entries|slice:"1:5" %}
                        <li style="display: none;">
                            <!-- <h2 style="font-weight:bold;">
                                集团要闻</h2> -->
                                <div class="title-wrapper">
                                        <div class="title-highlights">
                                                集团要闻
                                        </div>
                                </div>
                            <h4 class="hl-title">
                                <a href="{% pageurl news %}"> {{ news.title | truncatechars_html:32 }}</a>
                            </h4>
                            <hr style="margin-top: 20px;margin-bottom: 20px;border-top:1px dashed #ccc;">
                            <p style="color:#6c6c6c;text-indent: 2em;">{{  news.body | richtext | bleach | truncatechars_html:100 }}</p>
                            <hr style="margin-top: 18px;margin-bottom: 10px;border-top:1px dashed #ccc;">
                            <!-- <p class="pull-left">
                                <span class="rq">发布日期：{{ news.date | date:"Y-m-d" }}</span>
                                <span>
                                    <a href="{% pageurl news %}" class="ckxq">查看详情</a>
                                </span>
                            </p> -->
                        </li>
                    {% endfor %}
                </ul>
                <div class="highlights-container">
                        <!-- <ul> -->
                            {% for news in news_entries|slice:"5:7" %}
                            <div class="news-item">
                                <div class="news-title">
                                    <a href="{% pageurl news %}">{{ news.title | truncatechars_html:28 }}</a>
                                </div>
                                <div class="news-date">
                                    {{ news.date | date:"Y-m-d" }}
                                </div>
                            </div>
                            {% endfor %}
                        <!-- </ul> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row second-row">
        <div class="col-md-6">
            <div class="company-news">
                <!-- <div class="title-wrapper">
                            <div class="news-tabs">
                                <div class="title-company focus" id="qydt">
                                        企业动态
                                    </div>
                                    <div class="title-company" id="hyzx">
                                        行业资讯
                                    </div>
                                    <div class="title-company" id="zcfg">
                                        政策法规
                                    </div>
                            </div>
                            <div class="more">
                                <div>
                                    <a href="/news/latest">更多</a>
                                </div>
                                <div class="css-circle plus-sign">
                                    &#43;
                                </div>
                            </div>   
                        </div>
                        <hr>
                        <div class="highlights-container">
                            <div class="news-list">
                                <ul data-category="qydt">
                                    {% for news in news_latest|slice:"0:4" %}
                                        <li class="news-item">
                                            <div class="news-title">
                                                <strong>
                                                    <a href="{% pageurl news %}">{{ news.title | truncatechars_html:42 }}</a>
                                                </strong>
                                            </div>
                                            <div class="news-date">
                                                {{ news.date | date:"Y-m-d" }}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <ul data-category="hyzx" style="display:none">
                                    {% for news in news_industry|slice:"0:4" %}
                                        <li class="news-item">
                                            <div class="news-title">
                                                <strong>
                                                    <a href="{% pageurl news %}">{{ news.title | truncatechars_html:42 }}</a>
                                                </strong>
                                            </div>
                                            <div class="news-date">
                                                {{ news.date | date:"Y-m-d" }}
                                                </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <ul data-category="zcfg" style="display:none">
                                    {% for news in news_policy|slice:"0:4" %}
                                        <li class="news-item">
                                            <div class="news-title">
                                                <strong>
                                                    <a href="{% pageurl news %}">{{ news.title | truncatechars_html:42 }}</a>
                                                </strong>
                                            </div>
                                            <div class="news-date">
                                                {{ news.date | date:"Y-m-d" }}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div> -->

                <div class="hd">
                    <div class="tab-indicator"></div>
                    <ul>
                        <li class="hk on">企业动态</li>
                        <li class="hk">行业资讯</li>
                        <li class="hk">政策法规</li>
                    </ul>
                </div>
                <div class="bd">
                    <ul data-category="qydt">
                        {% for news in news_latest|slice:"0:6" %}
                        <li class="news-item">
                            <div class="news-title">
                                <a href="{% pageurl news %}">{{ news.title | truncatechars_html:29 }}</a>
                            </div>
                            <div class="news-date">
                                {{ news.date | date:"Y-m-d" }}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <ul data-category="hyzx" style="display:none">
                        {% for news in news_industry|slice:"0:6" %}
                        <li class="news-item">
                            <div class="news-title">
                                <a href="{% pageurl news %}">{{ news.title | truncatechars_html:29 }}</a>
                            </div>
                            <div class="news-date">
                                {{ news.date | date:"Y-m-d" }}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <ul data-category="zcfg" style="display:none">
                        {% for news in news_policy|slice:"0:6" %}
                        <li class="news-item">
                            <div class="news-title">
                                <a href="{% pageurl news %}">{{ news.title | truncatechars_html:29 }}</a>
                            </div>
                            <div class="news-date">
                                {{ news.date | date:"Y-m-d" }}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <div class="title-wrapper">
                    <div class="title-party">
                        党建工作
                    </div>
                </div>
                <hr>
                <div class="row topic">
                    <div class="col-md-6 topic-left">
                        <img class="topic-banner" src="{% static 'images/buwangchuxin.png' %}" alt="highlights">
                    </div>
                    <div class="col-md-6 topic-right">
                        <img class="topic-banner" src="{% static 'images/zaichufa.png' %}" alt="highlights">
                    </div>
                </div>
                <div class="pb-news">
                    <ul>
                        {% for news in partybuilding_news_entries|slice:"0:3" %}
                        <li class="news-item">
                            <!-- <div class="thumbnail">
                                            <a href="{% pageurl news %}">
                                                {% if news.representative_image %}
                                                    {% image news.representative_image fill-160x100 %}
                                                {% else %}
                                                    <img src="{% static 'images/img-default.png' %}" class="thumbnail-img" alt="news">
                                                {% endif %}
                                            </a> 
                                            </div> -->
                            <div class="news-title">
                                <a href="{% pageurl news %}">{{ news.title | truncatechars_html:29 }}</a>
                            </div>
                            <div class="news-date">
                                {{ news.date | date:"Y-m-d" }}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}