{% load static %} 
{% block topbanner %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>        
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active slide1">
            <!-- <img class="d-block w-100 h-100" src="{% static 'images/huanghejiuqu.jpg' %}" alt="First slide"> -->
            <div class="carousel-caption">
                <hr class="caption1">
                <h1>打造专业一流的国有金融资本</h1>
                <h1>投资 运营 管理中心</h1>
                <hr class="caption1">
                <p>甘肃金融控股集团有限公司</p>
            </div>
        </div>
        <div class="carousel-item slide2">
            <div class="carousel-caption">
                    <hr class="caption2">
                    <h1>发挥资源协同优势</h1>
                    <h1>助力甘肃经济发展</h1>  
                    <hr class="caption2">                  
                    <p>甘肃金融控股集团有限公司</p>
                </div>
        </div>
        <div class="carousel-item slide3">
            <div class="carousel-caption">
                <hr class="caption3">
                    <h1>科学唯实 创新进取 诚信致远</h1>
                    <hr class="caption3">                    
                    <p>甘肃金融控股集团有限公司</p>
                </div>
        </div>
        <div class="carousel-item slide4">
                <div class="carousel-caption">
                        <hr class="caption3">
                        <h1>不忘初心 牢记使命</h1>
                        <hr class="caption3">                    
                        <p>高举中国特色社会主义伟大旗帜，决胜全面建成小康社会，夺取新时代中国特色社会主义伟大胜利，为实现中华民族伟大复兴的中国梦不懈奋斗。</p>
                </div>
            </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
{% endblock%}