{% load static %} 
{% block topnav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img id="logo" src="{% static 'images/logo.png' %}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">首页
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">走进金控</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">资讯中心</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">集团业务</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">党群工作</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">企业文化</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">金控学院</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">联系我们</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">                    <img src="{% static 'images/oa.png' %}" alt="">
                        OA</a>
                </li>
                <li class="nav-item nav-more">
                    <span class="navbar-toggler-icon"></span>
                    更多
                </li>
            </ul>
        </div>
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    </div>
</nav>
{% endblock %}